:root {
}
html {
  box-sizing: border-box;
}

body {
  font-family: "Rubik, sans-serif";
}

.header { 
  width: 100%;
  position: relative;
  top: 10px;
  right: 50px;
  left: 0;
  transform: translateY( 50);
  
  background-color:white);
  
}
.header-logo {
  max-width: 150px;
  transform: translateX( 100px);
  padding-top: 10px;;
  
}

.contenedor-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 100px;
  padding: auto;
  margin-bottom: 13px;
  background-color: white;
  width: 100vw; 
  
  
}
.navegacion {
  align-items: center;
  line-height: 25px;
}

.navegacion-blog {
  
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.navegacion-contacto {
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.contenido {
  background-color: #3cdbc0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.contenido-titulo {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.contenido-2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.contenido3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
